bin/
pkg/
.DS_Store
*.pyc
*.swp
*.tfstate
*.tfstate*
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
.terraform
.terraform/*
.terraform.lock.hcl
*.tfvars
release/wi-kubernetes-manifests.yaml
*/*.pem
*.pem
minikube-*
*.env
infra-k8s/.env
kubernetes-manifests-build-locally/
src/frontend/static/styles/styles_new_style.css
# Generated Helm deps
infra-k8s/platform/datadog/Chart.lock
infra-k8s/platform/datadog/charts/
